<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=12.0, minimum-scale=.25, user-scalable=yes"/>
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        {% include navigation.html %}
      </header>
      <section>
      {{ content }}  
      </section>
    </div>
    
  </body>
</html>